<%- include ('header') -%>
<%- include ('navbar'); -%>
<div role="main" class="container">
    <br/><br/>
    <h2><%= message %></h2>
<p>
    <table> 
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Job Title</th>
        </tr>
</p>
</div>
<%- include ('footer') -%>